body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard {
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    background-color: #000080;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

nav {
    background-color: orangered;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

nav ul li {
    flex: float;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.stat {
    background-color: #eee;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 30%;
    margin: 10px;
}

.stat h3 {
    margin: 0 0 10px;
    color: #333;
}

.stat p {
    font-size: 24px;
    color: #333;
}

.projects {
    margin: 20px 0;
}

.project {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.project.en-cours {
    color: green;
}

.project.a_faire {
    color: red;
}

.project.termine {
    color: blue;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.charts canvas {
    max-width: 45%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.Btn_print {
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #32CD32;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.no-print {
    display: none;
}

@media print {
    .Btn_add, .Btn_print, .edit-btn, .delete-btn, .sidebar3, #searchInput, .edit-btn, .no-print, a{
        display: none;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.print-button {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.search-container {
    margin-bottom: 20px;
}
.search-container input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav ul li.logout {
    margin-left: auto; 
    padding: 10px 10px;
   background-color: black;
}
