
  
   input {
    border: thin rgb(34, 7, 18) solid;
    
    padding: 10px;
    margin: auto;
    width: 50%;
    font-style: initial;
    justify-content: center;
    text-align: center;
    
  }
  
  .button1 {
    padding: 10px;
    
    color: rgb(214, 212, 212);
    background-color: rgb(14, 13, 13);
   
  }
  
  h1 {
    text-align: center;
    margin-top: 150px;
  }  
  span {
    font-style: italic;
    font-weight: 700;
    color: rgb(255, 1, 107);
    
  }
  .sidebar3 {
    width: 100%;
    background-color:  rgb(247, 202, 191);
    color: white;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 2px orangered;
    z-index: 1000;
  }
  
  .sidebar3 h2 {
    margin: 0;
    font-size: 24px;
    
  }
  
  .sidebar3 ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .sidebar3 ul li {
    padding: 0 10px;
  }
  
  .sidebar3 ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  
    
  }
  
  
  .sidebar3 ul li a:hover {
    background-color: #f89c9c;
    border-radius: 5px;
  }
  .liste{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

 