    span{
    font-style: italic;
    
    }
    h1{
    text-align: center;
    }

    /*sidebar*/
    .sidebar0 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: flex-end; 
      background-color: black; 
      color: white; 
      align-items: center;
      box-shadow: 0 1px 4px black; 
        }
  
  .sidebar0 h1, .sidebar0 p, .sidebar0 a {
      color: white; 
      margin: 0; 
      text-align: right;
  }
  

.sidebar0 a {
  text-decoration: none;
}

.sidebar0 a:hover {
 color: orangered;
}
  
    .sidebar3 {
        width: 250px;
        background-color: rgb(12, 187, 149);
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: flex-start;
        padding: 0 20px;
        flex-direction: column;
        text-align: left;
        box-shadow: 0 1px 4px black;
         z-index: 1000;
         border-top-right-radius: 30px;
         margin: 0;
         
      }
    
      h2 a {
        font-size: 24px;
        color: white;
        background-color: rgb(14, 13, 13);
        padding: 10px 60px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      
      .sidebar3 ul {
        list-style: none;
        display: flex;
       
      }
      
      .sidebar3 ul h3  a {
        color: white;
        list-style: none;
        font-size: 18px;
        display: flex;
        text-decoration: none;
        
      }
      
      
      .sidebar3 ul h3 a:hover {
          color :black
      }
      
      .content {
        padding: 80px 20px 20px;
      }
      
      .content h1 {
        font-size: 36px;
      }
      
      .content p {
        font-size: 18px;
      }
      
      
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      
      .content {
        flex: 1;
        padding: 20px;
      }
      
      
    .search-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .search-container i {
        margin-right: 10px;
    }

    .home1{
        height: 80vh;
       display: flex; 
       flex-direction: column; 
       justify-content: center; 
       align-items:end;  
       background-size: cover; 
       background-color: white;
       }
       .home1 h1{
         margin-right: 150px;
         margin-bottom: 0px;
         margin-top: 0px;
         font-weight: 700;
         position: absolute;
       }
       .home1 h1 span {
       color: orangered; 
     
     }
     .home1 p {
       color: rgb(14, 1, 1); 
       margin-right: 5px;
       margin-top: 150px;
       font-weight: 100;
       
     
     
     }
     body {
       margin: 0;
       font-family: Arial, sans-serif;
   }
   .add_user {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.938);

    
  }.membre{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.938);

  }
  
    
  form{
    padding-left: 25px;
    padding-right: 190px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
  }
  input {
    border: thin black inset;
    padding: 10px;
    margin: auto;
    width: 170%;
    font-style: initial;
    border-color: aqua;
    border-radius: 5px;
  }
  select {
    border: thin rgb(250, 246, 246) inset;
    padding: 10px;
    margin: auto;
    width: 180%;
    justify-content: center;
    border-color: aqua;
    border-radius: 5px;
  }
  .recherche{
    border: thin black solid;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    font-style: initial;
  }
  button {
    padding: 10px;
    width: 185%;
    margin: auto;
    color: rgb(214, 212, 212);
    background-color: rgb(230, 77, 6);
    border-radius: 5px;
  }

  span {
    font-style: italic;
    font-weight: 700;
    color: black;
    
  }
  h1 {
    text-align: center;
  }  
  
  .add_projet {
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .profil{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.938);
    border:thin black solid; 
    
  }
