<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/css/styele.css">
        <script src="../../public/scripte/script.js"></script>
        <title>Document</title>
    </head>
    <body>
        
        <div class="sidebar">
            <h2><span>Accueil</span></h2>
            <ul>
                <li><a href="login.html">Login</a></li>   
            </ul>
        </div>
    <div class="home">
      <h1>Bienvenue dans votre application <span>SUIVI DE PROJET</span><i class='bx bx-edit-alt'></i></h1>
      <h2><p> l'appli specialement conçue pour <br> vous aider à gérer vos projets.</p></h2>
      
      <div class="sidebar2">
        <ul>
            <li><a href=""></a></li>
            
        </ul>
    </div>
    </body>
    </html> 









   