<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="../../public/scripte/logout.js"></script>
    <link rel="stylesheet" href="../../public/css/listprojet.css">
    <script src="../../public/scripte/AddUser.js"></script>
    <title>Document</title>
</head>
<body><nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="page_admin.html"><i class="fa-solid fa-house"></i> Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="ListUser.php"><i class="fa-solid fa-user-tie"></i> Gestion des utilisateurs</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="listProjet.php"><i class="fa-solid fa-list-check"></i> Gestion des projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listeProfilDroit.php"><i class="fa-solid fa-circle-user"></i> Gestion profil et droit</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="dashboard.php"><i class="fa-solid fa-chart-line"></i> tableau de bord</a>
      </li>
          <li class="nav-item ml-auto">
              <form id="logout-form" action="../controller/logout.php" method="post">
                  <button type="submit" onclick="confirmLogout(event)" class="btn btn-outline-light"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
              </form>
          </li>
      </ul>
  </div>
</nav>

</div><div class="container">
  
  <div class="container mt-5">
    <div class="form-container">
    <a href="ListUser.php" class="btn btn-retour">Retour</a>
       <div class="form-header text-center">
    <h1>CREATION D’UTILISATEUR</h1>
    </div>
    <form action= "../../public/AddUser.php" method="POST">
      <div class ="form-group">
        <label for="nom_complet">Prénom et Nom</label>
        <input type="text" placeholder="nom complet" id="nom_complet" name="nom_complet" required />
      </div>
      
      <div class ="form-group">
        <label for="fonction">Fonction</label>
        <input type="text" placeholder="fonction" id="fonction" name="fonction" required />
      </div>
      
      <div class ="form-group">
        <label for="rolee">Rôle</label>
        <select placeholder="role" name="rolee" id="rolee" required>
          <option value="user">User</option>
          <option value="administrateur">Administrateur</option>
        </select>
      </div>
      
      <div class ="form-group">
        <label for="statut">Statut</label>
        <select placeholder="statut" name="statut" id="statut" required>
          <option value="actif">actif</option>
          <option value="inactif">inactif</option>
          <option value="verouille">verouille</option>
          <option value="supprime">supprime</option>
        </select>
      </div>
      
      <div class ="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="email" name="email" id="email" required />
      </div>
      
            <div class ="form-group">
        <label for="mot_de_passe">Mot de passe</label>
        <input type="password" placeholder="mot de passe" name="mot_de_passe" id="mot_de_passe" required />
      </div>
      
      <button type="submit">Enregistrer</button>
    
    </form>
     
      
  </div>
  </div>
</body>
</html>