<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styele2.css">
    <script src="../../public/scripte/login.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="sidebar3">
        <h2>
          <ul>
            <li><a href="accueil.html">Accueil</a></li>   
          </ul>
        </h2>
    </div>
    <div>
  
        <h1><span>Se connecter</span></h1>
        <form action= "../../public/login.php" method="POST">
          <div>
            <label for="email"></label>
        
            <input type="email" placeholder="email" id="email" name="email" required>
         </div>

        <BR></BR>
        <div>
          <label for="mot_de_passe"></label>
        
          <input type="password" placeholder="mot_de_passe" id="mot_de_passe" name="mot_de_passe" required>
        </div>
        <BR></BR>
        <button type="submit">connection</button>
         
      </form>
      </div>
        
</body>
</html>
