<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/pagaUser.css">
    <title>Document</title>
</head>
<body>
    <div class="sidebar3">
        <h2> <li> <a href="page_user.html"><i class="fa-solid fa-house"></i>Accueil</a></li></h2>
        <li><a href="CreeTache.html">cree tache</a></li>
    </div> 
    <div class="home1">
        <h1>Bienvenue dans votre espace en tant que <span> UTILISATEUR SIMPLE</span><i class='bx bx-edit-alt'></i></h1>
      
      </div>
</body>
</html>