<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../public/css/styele1.css">
    <title>Document</title>
</head>
<body>
   

    <div class="sidebar3">
        <h2> <li> <a href="page_admin.html"><i class="fa-solid fa-house"></i>Accueil</a></li></h2>
        <ul>
            <li><a href="AddUser.html">create user</a></li>
            <li><a href="ListUser.php">list user</a></li>
            <li><a href="AddProjet.html">create projet</a></li>
            <li><a href="listProjet.php">list projet</a></li>
            <a href="accueil.html" class="Btn_add">logout</a>

        </ul>
    </div>
<div>
  <div class="home1">
    <h1>Bienvenue dans votre espace en tant que <span>ADMINSTRATEUR</span><i class='bx bx-edit-alt'></i></h1>
  
  
  </div>
  </div> 
</body>
</html>